textarea.feedback
{
	width:100%;
	resize: none;
}

.for_feedback
{
	width: 200px;
    height: auto;
    position: relative;
    box-shadow: 0px 0px 10px 1px #909090;
    padding: 10px 15px 15px 15px;
    border-radius: 5px;
    text-align: left;
    display:inline-block;
    vertical-align: top;
}

.support_wrapper
{
	width:100%;
}

.faq_wrapper
{
	display:inline-block;
	width: calc(100% - 300px);
	vertical-align: top;
}

.faq_wrapper>blog_item
{
	width:100%;
}