.search_result
{
	width:50%;
}

.for_search
{
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;	
}

div.search_gallery
{
	text-align: justify;
	width:100%;
	
}

div.search_gallery>.book_cell
{
	margin-right:10px;
}